@media screen {
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: normal;
        src: url('../font/Lato-Reg-webfont.eot');
        src: url('../font/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Lato-Reg-webfont.woff') format('woff'), url('../font/Lato-Reg-webfont.ttf') format('truetype'), url('../font/Lato-Reg-webfont.svg#cherokee') format('svg');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: bold;
        src: url('../font/Lato-Bol-webfont.eot');
        src: url('../font/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Lato-Bol-webfont.woff') format('woff'), url('../font/Lato-Bol-webfont.ttf') format('truetype'), url('../font/Lato-Bol-webfont.svg#cherokee') format('svg');
    }
}

a, a:visited, a:active {
    color: #16a085;
}
.alert {
    display: none;
    clear: both;
}
.alert-info {
    position: relative;
}
.alert-info .close {
    position: absolute;
    right: 15px;
    top: 10px;
}
.alert-info span {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 300px;
}
body {
    font: 15px/1.531 'Lato', sans-serif;
    color: #34495E;
    height: 100%;
    background-color: #ecf0f1 !important;
    /*padding-left: 25px;*/
}
.border-radius-4 {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.well {
    border-radius: 0;
}
#btn-follow {
    border: 1px solid #ccc;
    color: #979797;
    background: #ffffff;
}
#btn-follow a {
    padding: 0 5px;
}
.btn-footer {
    font-weight: 600;
    padding: 5px;
}
.btn-footer  i {
    font-size: 22px;
    line-height: 22px;
    vertical-align: middle;
}
.btn-footer:hover {
    text-decoration: none;
    opacity: .8;
}
#btn-github {
    background: #16a085;
    margin-right: 20px;
    color: #ffffff;
}
#btn-github {
    background: #31B2FD;
    margin-right: 20px;
    color: #ffffff;
}
.modal {
    border-radius: 0;
    /*z-index: 9005;*/

}
.modal-backdrop {
    /*z-index: 9004;*/
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 90;
}
.btn {
    border-radius: 3px;
    background-image: none;
    border-color: 1px solid;
    box-shadow: none;
}
.btn-primary {
    background: none repeat scroll 0 0 #16a085;
    color: #FFFFFF;
    text-shadow: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background: #07BFAC;
}

footer {
    border-top: 1px solid #16a085;
    padding-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
footer.container {
    width: 100%;
}
footer.row {
    margin: 0 auto;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
}
html {
    height: 100%;
}
iframe {
    border: none;
}

li {
    list-style: none;
}

.layout {
    padding: 50px;
    font-family: Georgia, serif;
}
.layout-slider {
    margin-bottom: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.layout-slider-settings {
    font-size: 12px;
    padding-bottom: 10px;
}
.layout-slider-settings pre {
    font-family: Courier;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0;
}

.txt-center {
    text-align: center;
}
.txt-right {
    text-align: right;
}
ul {
    margin: 0;
}
ul li {
    list-style: none;
}

.error {
    background: none repeat scroll 0 0 #FFF0C4;
    border-top: 1px solid #FBC2C4;
    color: #333333;
    font-size: 13px;
    padding: 0 6px;
    margin-top: 0;
}
.elfinder .container-fluid {
    padding: 0;
}

/** if apply these jaggery editor styles will broke */
/*.nav-tabs {
 border-bottom: 1px solid #009E92;
 }
 .nav-tabs li {
 margin-bottom: -2px;
 }

 .nav-tabs > li > a {
 font-weight: 600;
 border-radius: 0 0 0 0;
 font-size: 18px;
 color: #009E92;
 border-color: #FFFFFF;
 padding: 20px 25px;
 }
 .nav-tabs > li > a:hover {
 background: none;
 color: #07BFAC;
 border-color: #FFF;
 }
 .nav-tabs > li.active > a:hover {
 color: #07BFAC;
 }

 .nav-tabs > li > a:first-child {
 margin-left: -15px;
 margin-right: 15px;
 }
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
 border-color: #009E92;
 border-image: none;
 border-style: none none solid;
 border-width: medium medium 4px;
 color: #009E92;
 }*/

#logo-wso2 {
    background: url("../img/wso2-logo-small.png") no-repeat scroll left top transparent;
    display: inline-block;
    height: 17px;
    width: 41px;
    margin-top: 4px;
}
#logo-wso2:hover {
    background-position: left -18px;
}
.row-white {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}
.row-footer {
    border-bottom: 1px solid #ddd !important;
    border-top: 0;
    padding: 15px 0;
    color: #7f8c8d;
    background: #FFFFFF;
    margin-bottom: 20px;
}
.row-footer ul {
    margin-right: 18px;
}
.row-footer li {
    display: inline-block;
    margin-left: 20px;
}
.row-footer li:last-child {
    float: right;
}
.row-footer li a {
    color: #7f8c8d;
}
.row-footer li a:hover {
    color: #16a085;
    text-decoration: none;
}
.autosave-wrapper {
    font-size: 9px;
    left: 1px;
    top: 5px;
    position: absolute;
}
.autosave {
    color: #aaa;
}

button.close {
    position: absolute;
    right: 8px;
    top: 5px;
}

label.error {
    display: inline-block;
    background: none repeat scroll 0 0 #F2DEDE;
    border-top: 1px solid #EED3D7;
    color: #B94A48;
    border-radius: 0 0 4px 4px;
    padding: 0 10px 2px;
}
/*
#modal-add-gadget .gadget .gadget-header {
    display: none;
}
#modal-add-gadget .gadgetArea {
    border: none;
    margin: 0;
    height: 100%;
}
#modal-add-gadget .gadgetArea:hover {
    background: none;
}

#modal-add-gadget .gadget {
    background: none;
    box-shadow: none;
    margin: 0;
}

#modal-add-gadget .gadget, #modal-add-gadget .gadget-content {
    height: 100% !important;
    padding: 0;
}

#store-gadget-div {
    height: 98%;
}

#modal-add-gadget {
    left: 50%;
    margin: auto auto auto -33%;
    width: 65%;
    max-height: 599px;
}

#modal-add-gadget h3 {

    line-height: 62px;
}
#modal-add-gadget .modal-header {
    background: #16a085;
}
#modal-add-gadget .modal-header h3 {
    color: #FFFFFF;
}
#modal-add-gadget.modal.fade.in {
    top: 5%; 
    bottom: 5%;
}

 #modal-add-gadget button {
 position: absolute;
 right: 20px;
 top: 15px;
 opacity: 1;
 color: #ffffff;
 text-shadow: none;
 z-index: 1;
 }*/

.modal-add-gadget .modal-body {
    max-height: 565px;
}

.modal-add-gadget form {
    margin: 0;
}
.modal-add-gadget .modal-body .content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 448px;
}
.modal-add-gadget .modal-body .actions {
    visibility: hidden;
}
.modal-add-gadget{
    height: 664px;
    margin: -332px 0 0 -492px;
    width: 980px;
}

#store-gadget-div{
    height:440px;
}
#store-gadget-div2{
    height:523px;
}
#wizard-add-gadget, #store-gadget-cont {
    height: 524px;
}
#wizard-add-gadget-p-0 > div {
    width: 70%;
    margin: 0 auto;
    display: block;
}
#wizard-add-gadget-p-0 .span4 {
    text-align: center;
}
#wizard-add-gadget-p-0 .span4 a {
    display: block;
    padding: 23px;
    border: 3px solid transparent;
    transition: all .3s ease;
    color: #333333;
    text-decoration: none;
}
#wizard-add-gadget-p-0 .span4 a:hover {
    border-color: #ccc;
    opacity: 1;
}
#wizard-add-gadget-p-0 .span4 a.active {
    border-color: #16A085;
    opacity: 1;
}
#wizard-add-gadget-p-0 .row-fluid {
    margin-top: 120px;
}
#wizard-add-gadget-p-0  .span4 a .wizard-icon {
    display: block;
    height: 105px;
    margin: 0 auto;
    width: 110px;
    opacity: .6;
    transition: all .3s ease;
}
#wizard-add-gadget-p-0  .span4 a:hover .wizard-icon, #wizard-add-gadget-p-0  .span4 a.active .wizard-icon {
    opacity: 1;
}

#wizard-add-gadget-p-0 .span5 {
    text-align: center;
    width: 210px;
}
#wizard-add-gadget-p-0 .span5 a {
    display: block;
    padding: 23px;
    border: 3px solid transparent;
    transition: all .3s ease;
    color: #333333;
    text-decoration: none;
}

#wizard-add-gadget-p-0 .row-fluid {
    margin-top: 120px;

}
#wizard-add-gadget-p-0  .span5 a .wizard-icon {
    display: block;
    height: 105px;
    margin: 0 auto;
    width: 110px;
    opacity: .6;
    transition: all .3s ease;
}

#wizard-add-gadget-p-1 .row-fluid {
    margin-top: 120px;
}
#wizard-add-gadget-p-2 .well {
    margin-top: 128px;
}
#wizard-add-gadget-p-2 .well .inp-query {
    font-size: 22px;
    letter-spacing: -.5px;
}
#wizard-add-gadget-p-2 .well .control-group {
    margin: 0;
}
#wizard-add-gadget-p-2 .well .btn-execQuery {
    background: #fff;
    border: 1px solid #ccc;
}

#wizard-add-gadget-p-2 > div:first-child {
    width: 70%;
    margin: 0 auto;
}
#wizard-add-gadget-p-4 .preview-cont {
    position: relative;
    height:436px;
}
#wizard-add-gadget-p-4 .gadget-preview-loader {
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: none repeat scroll 0px 0px rgb(255, 255, 255);
}
#wizard-add-gadget-p-4 .gadget-preview-loader > div {
 font-size: 24px;
    left: 50%;
    margin-top: -20px;
    margin-left: -66px;
    position: absolute;
    text-align: center;
    top: 50%;
}

#wizard-add-gadget .data-mapping-cont{
   height: 379px;
    overflow-y: auto;
    padding-right: 23px;
}
#wizard-add-gadget .data-mapping-btns {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 8px;
}
.wizard-icon.icon-rdbms {
    background: url('../img/wizard-btn-rdbms.png') no-repeat top center;
}
.wizard-icon.icon-rest {
    background: url('../img/wizard-btn-rest.png') no-repeat top center;
}
.wizard-icon.icon-cassandra {
    background: url('../img/wizard-btn-cassandra.png') no-repeat top center;
}
.wizard, .tabcontrol {
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}
.wizard a, .tabcontrol a {
    outline: 0 none;
}
.wizard ul, .tabcontrol ul {
    list-style: none outside none !important;
    margin: 0;
    padding: 0;
}
.wizard ul > li, .tabcontrol ul > li {
    display: block;
    padding: 0;
}
.wizard > .steps .current-info, .tabcontrol > .steps .current-info {
    left: -999em;
    position: absolute;
}
.wizard > .content > .title, .tabcontrol > .content > .title {
    left: -999em;
    position: absolute;
}
.wizard > .steps {
    display: block;
    position: relative;
    width: 100%;
}
.wizard.vertical > .steps {
    display: inline;
    float: left;
    width: 30%;
}
.wizard > .steps .number {
    font-size: 1.429em;
    display: block;
}
.wizard > .steps > ul > li {
    width: 20%;
}
.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    float: left;
}
.wizard.vertical > .steps > ul > li {
    float: none;
    width: 100%;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    display: block;
    padding: 16px 0;
    text-decoration: none;
    width: auto;
    text-align: center;
}
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #AAAAAA;
    cursor: default;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: none repeat scroll 0 0 #16A085;
    color: #FFFFFF;
    cursor: default;
    border: 1px solid #16A085;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: none repeat scroll 0 0 #5EBFAD;
    color: #FFFFFF;
    border-bottom: 1px solid #3DAA96;
    border-right: 1px solid #3DAA96;
    border-top: 1px solid #3DAA96;
}
.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active {
    background: none repeat scroll 0 0 #F2DEDE;
    color: #B94A48;
    border-color: #F2DEDE;
    font-size: 15px;
}
.wizard > .content {
    display: block;
    margin: 10px 0 0;
    min-height: 444px;
    overflow: hidden;
    position: relative;
    width: auto;
}
.wizard.vertical > .content {
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em;
    width: 65%;
}
.wizard > .content > .body {
    float: left;
    height: 100%;
    padding: 0;
    position: absolute;
    width: 100%;
}

.wizard > .content > .body ul {
    list-style: disc outside none !important;
}
.wizard > .content > .body ul > li {
    display: list-item;
}
.wizard > .content > .body > iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}
.wizard > .content > .body input {
    border: 1px solid #CCCCCC;
    display: block;
}
.wizard > .content > .body input[type="checkbox"] {
    display: inline-block;
}
.wizard > .content > .body input.error, .wizard > .content > .body textarea.error {
    background: none repeat scroll 0 0 #FBE3E4;
    border: 1px solid #FBC2C4;
    color: #8A1F11;
}
.wizard > .content > .body label {
    display: inline-block;
    margin-bottom: 0.5em;
    text-align: left;
}
.wizard > .content > .body label.error {
    display: inline-block;
}
.wizard > .actions {
    display: block;
    position: relative;
    text-align: right;
    width: 100%;
}
.wizard.vertical > .actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}
.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}
.wizard > .actions > ul > li {
    margin: 0 0.5em;
}
.wizard.vertical > .actions > ul > li {
    margin: 0 0 0 1em;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: none repeat scroll 0 0 #2184BE;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #AAAAAA;
}
.wizard > .loading {
}
.wizard > .loading .spinner {
}
  
.tabcontrol > .steps {
    display: block;
    position: relative;
    width: 100%;
}
.tabcontrol > .steps > ul {
    margin: 6px 0 0;
    position: relative;
    top: 1px;
    z-index: 1;
}
.tabcontrol > .steps > ul > li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;
}
.tabcontrol > .steps > ul > li:hover {
    background: none repeat scroll 0 0 #EDECEC;
    border: 1px solid #BBBBBB;
    padding: 0;
}
.tabcontrol > .steps > ul > li.current {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BBBBBB #BBBBBB -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    margin-top: 0;
    padding: 0 0 1px;
}
.tabcontrol > .steps > ul > li > a {
    border: 0 none;
    color: #5F5F5F;
    display: inline-block;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}
.tabcontrol > .steps > ul > li > a:hover {
    text-decoration: none;
}
.tabcontrol > .steps > ul > li.current > a {
    padding: 15px 30px 10px;
}
.tabcontrol > .content {
    border-top: 1px solid #BBBBBB;
    display: inline-block;
    height: 35em;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
.tabcontrol > .content > .body {
    float: left;
    height: 95%;
    padding: 2.5%;
    position: absolute;
    width: 95%;
}
.tabcontrol > .content > .body ul {
    list-style: disc outside none !important;
}
.tabcontrol > .content > .body ul > li {
    display: list-item;
}

#gadget-preview {
    height: 310px;
}
#gadgetArea-preview {
    height: 100%;
}
#gadget-preview-placeholder {
    border: 3px dashed #CCCCCC;
    height: 100%;
    padding: 59px;
}
#gadget-preview-placeholder p {
    font-size: 18px;
    margin-top: 127px;
    text-align: center;
}
@media all and (max-width: 1225px) {
    #modal-add-gadget {
        left: 2%;
        margin: auto;
        width: 96%;
    }

}

.mandatory {
    color: #FE3D0D;
    font-size: 18px;
    left: 2px;
    position: relative;
    top: 0;
}
.modal-body {
    position: relative;
}
.info-mandatory {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 11px;
}
.info-mandatory > .mandatory {
    top: 4px;
}
.success-msg-icon {
    margin-right: 8px;
}
/*
 @media all and (min-height: 780px){
 #modal-add-gadget.modal.fade.in {
 height: 615px !important;
 bottom:0;
 }

 #modal-add-gadget {
 margin: auto auto auto -40%;
 width: 79%;
 }
 }
 */

/* fixing the book icon in the footer */
.icon-book {
    padding-right: 5px;
}

